$primaryColor: #18181b;
$secondaryColor: #2dc5b2;
$primaryTextColor: #f4f4f5;
$secondaryTextColor: #8d8d96;
$mobileBreakpoint: 489px;
$tabletBreakpoint: 720px;
$desktopBreakpoint: 1312px;
$headingFontSize: 48px;
$spaceY: 4rem 2rem 0 0;

